body{
	margin: 0 auto;
	height: 70vh;
	max-width: 320px;
	font-family: 'Helvetica Neue', Helvetica ,Arial, sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
header h1{
	margin: 0;
	font-size: 3em;
}
h2{
	margin: .5em 0;
	font-size: 1.1em;
	font-weight: normal;
}
h2 a{
	text-decoration: none;
	font-weight: bold;
}
h2 a:link, h2 a:visited{
	color: #353831;
}
h2 a:hover, h2 a:active{
	text-decoration: underline;
	color: black;
}
.thumbs, .thumbs li, nav ul, nav li{
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.thumbs li{
	margin: 5px 0;
}
nav li{
	display: inline;
	font-weight: bold;
}
nav a{
	text-decoration: none;
}
nav a:link, nav a:visited{
	color: black;
}
nav a:hover, nav a:active{
	text-decoration: line-through;
	color: #353831;
}
